<div class="col profile rounded gold mr-5 py-3">
    <div class="row">
        <div class="col">
            <h2>{{author.username}} </h2>
            <p>{{author.email}}</p>
            <p class="border-dark border-bottom">
                <a class='btn' href="/dashboard/edit-user/{{author.id}}">
                    UPDATE YOUR INFO
                </a>
            </p>
        </div>
    </div>
    <h4 class="text-center">{{author.title}}</h4>
    <p>{{author.bio}}</p>
</div>