<div class="card mx-2 my-3">
    <img id='image-{{id}}' class="card-img-top" src="/src/{{genre}}.png" alt="Story Image">
    <div id='card-{{id}}' data-sentiment='{{storyScore}}' class="card-body">
        <h6 class="card-title text-center">{{story_title}}</h6>
        <p id=' story-{{id}}' class="card-text text-left truncate-overflow">{{story_text}}</p>
        {{#if completed}}
        <a href="/read-story/{{id}}" class="btn home-btn">Read More</a>
        {{else}}
        <a href="/add-chapter/{{id}}" class="btn home-btn">Contribute Here</a>
        {{/if}}
    </div>
</div>

<script src='/javascript/stories.js'></script>