<section class='dashboard container'>
    <div class="row text-right mt-3">
        <div class="col-6">
            <h1>
                DASHBOARD
            </h1>
        </div>
        <div>
            <a href="/new-story"><button type="button" class="btn btn-block">START A NEW STORY</button></a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col profile rounded mr-5 py-3">
            <div class="row">
                <div class="col">
                    <h2>{{author.username}} </h2>
                    <p>{{author.email}}</p>
                    <p class="border-dark border-bottom">
                        <a href="/dashboard/edit-user/{{author.id}}">
                            Update your info
                        </a>
                    </p>
                </div>
            </div>
            <h4 class="text-center">{{author.title}}</h4>
            <p>{{author.bio}}</p>
        </div>
        <div class="col-6 border-dark border-left text-center">
            <div class="container">

                <h1> YOUR STORIES </h1>
                <div class="row">

                    {{#each stories as |story|}}
                    <div class="col card mx-auto my-auto text-left">
                        <img class="card-img-top" src="/src/book.png" alt="Story Image">
                        <div class="card-body">
                            <h6 class="card-title">{{story.story_title}}</h5>
                                <p class="card-text">{{story.story_text}}</p>
                                <a href='/edit-story/{{story.id}}' class="btn">Edit Story</a>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
</section>