<div class="container">
    <div class="container text-center text-uppercase">
        <h1 class="new-story">{{story.story_title}}</h1>
        <h4>Original Author: {{story.author.username}} </h4>
    </div>
    <div class="container text-left">
        <p>
            {{story.story_text}}
        </p>
        <div class="chapter my-3">
            {{#each story.chapters}}
            <p> Chapter: "{{chapter_title}}" </p>
            <p>Author: {{author.username}}</p>
            <p> {{chapter_text}}</p>
            {{/each}}
        </div>
    </div>
</div>