<div class="container mt-4">
    <div class="container text-center text-uppercase">
        <h1 class="new-story red">{{story.story_title}}</h1>
        <h4 class="story-author gold">Original Author: {{story.author.username}} </h4>
    </div>
    <div class="container border-top text-left pt-4">
        <p class="gold border-bottom pb-4">
            {{story.story_text}}
        </p>
        <div class="chapter my-3">
            {{#each story.chapters}}
            <h4 class="text-center red"> Chapter: "{{chapter_title}}" </h4>
            <h5 class="text-center gold">Chapter Author: {{author.username}}</h5>
            <p class="gold border-top pt-4"> {{chapter_text}}</p>
            {{/each}}
        </div>
    </div>
</div>